body,html {
    color: rgb(2, 2, 2);
    margin: 0;
    padding: 0;
    font-family:fantasy;
    font-style: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

.main-container {
    margin-top: 2em;
    display: grid;
    width: 700px;
    height: 700px;
}

.block-container {
    border: 1px solid black;
}

.grey-box {
    background-color: grey;
}

.white-box {
    background-color: white;
}



