body,html {
    color: rgb(2, 2, 2);
    margin: 0;
    padding: 0;
    font-family:'VT323', monospace;
    font-style: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    background-color: rgb(218, 213, 219);
  }

.main-container {
    display: grid;
    width: 700px;
    height: 700px;
    margin: 20px auto auto auto;
    box-shadow: 10px 10px;
    border-radius: 5px;
}

.block-container {
    border: 1px solid black;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 50px 50px 50px 50px;
    flex-wrap: wrap;
}

.buttons {
    font-family: Audiowide, cursive;
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    margin: 20px;
    color: rgb(0, 0, 0);
    line-height: 27px;
    background-color: rgb(199, 194, 194);
    border: 1px solid rgb(0, 0, 0);
}

.buttons:hover {
    transform: scale(1.2);
}

.grey-box {
    background-color: grey;
}

.red-box {
    background-color: red;
}



