body,html {
    color: rgb(2, 2, 2);
    margin: 0;
    padding: 0;
    font-family:fantasy;
    font-style: inherit;
    font-size: 20px;
    text-align: center;
  }

.main-container {
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(16, auto);
}

.block-container {
    border: 1px solid black;
    padding: 20px;
}

.grey-box {
    background-color: grey;
}



